.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  height: 45px;
  border-radius: 38%;
}

.friend .chat__avatar {
  width: 50px;
  border-radius: 38%;
}

.friend__avatar.g-avatar {
  width: 70px;
  height: 60px;
}

.chat__avatar.m-avatar {
  width: 60px;
  height: 50px;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend .chat__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.chat__mute {
  opacity: 0.2;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend__content .friend__status {
  font-size: 12px;
}

.friend .chat__timestamp {
  font-size: 12px;
  opacity: 0.6;
}

@keyframes chats-badge-spin {
  from {
    transform: none;
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.chat__username .nav__badge {
  color: white;
  background-color: #dc5d46;
  display: inline-block;
  padding: 3px 7px;
  border-radius: 30%;
  border-bottom-left-radius: 0%;
  font-size: 12px;
  margin-left: 2px;
  vertical-align: super;
  animation: chats-badge-spin 1s ease-in-out;
}

.chats .chats__chat {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
}

.chats__list {
  padding: 0px 20px;
}
